.sidebar{
    flex: 0.2;
    background: #fff;
    position: sticky;
}

.tag{
    text-decoration: none;
}

.sidebar > hr{
    height: 1px;
    border: 0;
    background: lightgray;
    margin-top: 10px;
    margin-bottom: 10px;
}

h4, h5{
    color: #606060;
    margin-left: 20px;
    margin-top: 15px;
    margin-bottom: 15px;
}

h5{
    color: #000;
    font-weight: 500;
}

.list{
   display: flex;
   flex-direction: column;
   flex-wrap: wrap;
   align-items: flex-start;
   align-self: center;
   justify-content: center;
   min-height:50px;
}

.list li{
    color: #606060;
    font-size: 14px;
    font-weight: 600;
    cursor: pointer;
    list-style-type: none;
    text-align: left;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: flex-start;
    align-self: flex-start;
    justify-content: center;
}

 .sidebar_footer p{
     margin-top: 8px;
    color: gray;
    text-align: center;
    font-size: 13px;
    font-weight: 600;
}

.subscriptions{
    color: #606060;
    display: flex;
    flex-direction: column;
    padding-top: 10px;
    padding-bottom: 10px;
}

.channelSub{
    cursor: pointer;
    display: flex;
    align-items: center;
    padding-left: 20px;
}

.channelSub > h5{
    cursor:pointer;
    color: rgb(75, 75, 75);
    font-size: 13px;
    font-weight: 600;
    font-family: Roboto, Arial, sans-serif;
}

.channelSub:hover{
    background: rgb(243, 243, 243);
}

.channelSub:hover > h5{
    font-weight: bold;
}